body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1597px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:39px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:49px;
  width:589px;
  height:39px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:38px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:50px;
  width:199px;
  height:38px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1597px;
  height:40px;
  background:inherit;
  background-color:rgba(67, 15, 97, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 15, 97, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1597px;
  height:40px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F8ECF9;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:13px;
  width:68px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F8ECF9;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F8ECF9;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:13px;
  width:53px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F8ECF9;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F8ECF9;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:13px;
  width:63px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F8ECF9;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F8ECF9;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:13px;
  width:99px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F8ECF9;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:42px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:0px;
  width:2px;
  height:39px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:42px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:0px;
  width:2px;
  height:39px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:42px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:0px;
  width:2px;
  height:39px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:42px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:0px;
  width:2px;
  height:39px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:42px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:1px;
  width:2px;
  height:39px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:42px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:1px;
  width:2px;
  height:39px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:42px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:0px;
  width:2px;
  height:39px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:42px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:0px;
  width:2px;
  height:39px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:42px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:0px;
  width:2px;
  height:39px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:42px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:0px;
  width:2px;
  height:39px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#430F61;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:54px;
  width:93px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#430F61;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1597px;
  height:1140px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#420E60;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:1597px;
  height:1140px;
  color:#420E60;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:562px;
  width:1593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:387px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:172px;
  width:50px;
  height:387px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:186px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:65px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:559px;
  width:50px;
  height:65px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:324px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:624px;
  width:50px;
  height:324px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:154px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:387px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:172px;
  width:345px;
  height:387px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:186px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:387px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:172px;
  width:603px;
  height:387px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:186px;
  width:599px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:65px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:559px;
  width:345px;
  height:65px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:324px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:624px;
  width:345px;
  height:324px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:154px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:65px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:559px;
  width:603px;
  height:65px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:599px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:324px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:624px;
  width:603px;
  height:324px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:154px;
  width:599px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:199px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:948px;
  width:1px;
  height:199px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:199px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:948px;
  width:991px;
  height:199px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:31px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:1089px;
  width:393px;
  height:31px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#591167;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:1094px;
  width:216px;
  height:21px;
  font-size:18px;
  color:#591167;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:37px;
  background:inherit;
  background-color:rgba(238, 237, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 237, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#420E60;
  text-align:left;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:282px;
  width:123px;
  height:37px;
  font-size:18px;
  color:#420E60;
  text-align:left;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:349px;
  width:55px;
  height:21px;
  font-size:18px;
  color:#420E60;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:37px;
  background:inherit;
  background-color:rgba(238, 237, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 237, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#420E60;
  text-align:left;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:885px;
  width:179px;
  height:37px;
  font-size:18px;
  color:#420E60;
  text-align:left;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:463px;
  width:91px;
  height:21px;
  font-size:18px;
  color:#420E60;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:662px;
  width:168px;
  height:21px;
  font-size:18px;
  color:#420E60;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:730px;
  width:126px;
  height:21px;
  font-size:18px;
  color:#420E60;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:1026px;
  width:87px;
  height:21px;
  font-size:18px;
  color:#420E60;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:405px;
  width:87px;
  height:21px;
  font-size:18px;
  color:#420E60;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:22px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:1095px;
  width:4px;
  height:22px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:4px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:1109px;
  width:14px;
  height:4px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:22px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:828px;
  width:4px;
  height:22px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:4px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:842px;
  width:14px;
  height:4px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#430F61;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:134px;
  width:84px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#430F61;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:108px;
  background:inherit;
  background-color:rgba(227, 222, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(227, 222, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:1130px;
  width:980px;
  height:108px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:45px;
  background:inherit;
  background-color:rgba(18, 118, 140, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(28, 135, 155, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:1164px;
  width:216px;
  height:45px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:45px;
  background:inherit;
  background-color:rgba(58, 200, 211, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(58, 200, 211, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:1159px;
  width:216px;
  height:45px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(44, 162, 179, 1) 0%, rgba(44, 162, 179, 1) 0%, rgba(44, 162, 179, 1) 100%, rgba(44, 162, 179, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(44, 162, 179, 1) 0%, rgba(44, 162, 179, 1) 0%, rgba(44, 162, 179, 1) 100%, rgba(44, 162, 179, 1) 100%);
  background:linear-gradient(180deg, rgba(44, 162, 179, 1) 0%, rgba(44, 162, 179, 1) 0%, rgba(44, 162, 179, 1) 100%, rgba(44, 162, 179, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(44, 162, 179, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:1161px;
  width:216px;
  height:45px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:1173px;
  width:62px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
